<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x2_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{336,768},{108,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x2_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{336,990},{108,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{2,1233},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{2,1567},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{226,1151},{220,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{336,1212},{220,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{116,895},{332,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{226,817},{332,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>T_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,12}</string>
                <key>spriteSourceSize</key>
                <string>{218,12}</string>
                <key>textureRect</key>
                <string>{{211,1229},{218,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>T_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,4}</string>
                <key>spriteSourceSize</key>
                <string>{214,4}</string>
                <key>textureRect</key>
                <string>{{112,1888},{214,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ad_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,12}</string>
                <key>spriteSourceSize</key>
                <string>{158,12}</string>
                <key>textureRect</key>
                <string>{{226,1573},{158,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ad_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,4}</string>
                <key>spriteSourceSize</key>
                <string>{158,4}</string>
                <key>textureRect</key>
                <string>{{240,1573},{156,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{339,440},{34,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{112,1894},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{214,1894},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{292,1573},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{316,1894},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{312,1719},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{396,1762},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{354,1660},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{396,1660},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{354,1762},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{246,1675},{42,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_shadow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{246,1573},{44,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,279}</string>
                <key>spriteSourceSize</key>
                <string>{97,279}</string>
                <key>textureRect</key>
                <string>{{112,1233},{97,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,146}</string>
                <key>spriteSourceSize</key>
                <string>{198,146}</string>
                <key>textureRect</key>
                <string>{{112,1740},{198,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,100}</string>
                <key>spriteSourceSize</key>
                <string>{436,100}</string>
                <key>textureRect</key>
                <string>{{339,2},{436,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lotus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,104}</string>
                <key>spriteSourceSize</key>
                <string>{198,104}</string>
                <key>textureRect</key>
                <string>{{226,1373},{198,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lotus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,287}</string>
                <key>spriteSourceSize</key>
                <string>{103,287}</string>
                <key>textureRect</key>
                <string>{{333,479},{103,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_main_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,335}</string>
                <key>spriteSourceSize</key>
                <string>{475,335}</string>
                <key>textureRect</key>
                <string>{{2,2},{475,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lotus_main_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,215}</string>
                <key>spriteSourceSize</key>
                <string>{414,215}</string>
                <key>textureRect</key>
                <string>{{2,479},{414,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow_1x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{112,1514},{112,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_1x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,336}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{2,895},{112,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_2x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,112}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{332,1434},{224,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow_3x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{219,479},{336,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>default.png</string>
            <key>size</key>
            <string>{446,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33063b9de55aedc90b48daf4e0b8e9ca:31ffd0e50b2fb41cae4b9d9b824b3766:d258758acfd7c2dc4f771a427c5ecb8e$</string>
            <key>textureFileName</key>
            <string>default.png</string>
        </dict>
    </dict>
</plist>
