<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x2_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{2,330},{108,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x2_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{112,330},{108,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{914,2},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{116,552},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{222,330},{220,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{332,330},{220,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{226,552},{332,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{478,374},{332,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,12}</string>
                <key>spriteSourceSize</key>
                <string>{218,12}</string>
                <key>textureRect</key>
                <string>{{2,1004},{218,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,4}</string>
                <key>spriteSourceSize</key>
                <string>{214,4}</string>
                <key>textureRect</key>
                <string>{{1018,336},{214,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ad_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,12}</string>
                <key>spriteSourceSize</key>
                <string>{158,12}</string>
                <key>textureRect</key>
                <string>{{222,1004},{158,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ad_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,4}</string>
                <key>spriteSourceSize</key>
                <string>{158,4}</string>
                <key>textureRect</key>
                <string>{{812,374},{158,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{442,330},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{732,757},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{774,757},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{442,432},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{790,859},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{790,961},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_golden_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{442,534},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{892,717},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_golden_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{832,717},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{892,759},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{688,757},{42,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{642,757},{44,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{169,169}</string>
                <key>textureRect</key>
                <string>{{642,586},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{147,148}</string>
                <key>textureRect</key>
                <string>{{641,867},{147,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,279}</string>
                <key>spriteSourceSize</key>
                <string>{97,279}</string>
                <key>textureRect</key>
                <string>{{543,586},{97,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,146}</string>
                <key>spriteSourceSize</key>
                <string>{198,146}</string>
                <key>textureRect</key>
                <string>{{818,336},{198,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,100}</string>
                <key>spriteSourceSize</key>
                <string>{321,100}</string>
                <key>textureRect</key>
                <string>{{478,484},{321,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,104}</string>
                <key>spriteSourceSize</key>
                <string>{315,104}</string>
                <key>textureRect</key>
                <string>{{336,552},{315,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lotus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,152}</string>
                <key>spriteSourceSize</key>
                <string>{99,152}</string>
                <key>textureRect</key>
                <string>{{442,717},{99,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_main_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,326}</string>
                <key>spriteSourceSize</key>
                <string>{476,326}</string>
                <key>textureRect</key>
                <string>{{2,2},{476,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotus_main_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,256}</string>
                <key>spriteSourceSize</key>
                <string>{432,256}</string>
                <key>textureRect</key>
                <string>{{480,2},{432,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_1x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{228,886},{112,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow_1x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,336}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{2,552},{112,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_2x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,112}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{2,890},{224,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_3x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{480,260},{336,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_light_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,51}</string>
                <key>spriteSourceSize</key>
                <string>{88,51}</string>
                <key>textureRect</key>
                <string>{{818,260},{88,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_light_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,51}</string>
                <key>textureRect</key>
                <string>{{478,586},{64,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{185,231}</string>
                <key>spriteSourceSize</key>
                <string>{189,233}</string>
                <key>textureRect</key>
                <string>{{818,484},{185,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,185}</string>
                <key>spriteSourceSize</key>
                <string>{152,187}</string>
                <key>textureRect</key>
                <string>{{454,871},{150,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>night.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7445cf648614f9643aa70c19da8a2354:0ca46bacac7fdce5d04a89540fd7e36a:96ad07d0c066211954207456b61fae04$</string>
            <key>textureFileName</key>
            <string>night.png</string>
        </dict>
    </dict>
</plist>
