<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x2_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{558,384},{108,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1x2_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{780,384},{108,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{818,678},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{2,384},{108,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{336,384},{220,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{454,494},{220,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{454,804},{332,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{454,914},{332,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,12}</string>
                <key>spriteSourceSize</key>
                <string>{218,12}</string>
                <key>textureRect</key>
                <string>{{2,995},{218,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,4}</string>
                <key>spriteSourceSize</key>
                <string>{214,4}</string>
                <key>textureRect</key>
                <string>{{1018,2},{214,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ad_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,12}</string>
                <key>spriteSourceSize</key>
                <string>{158,12}</string>
                <key>textureRect</key>
                <string>{{2,1009},{158,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ad_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,4}</string>
                <key>spriteSourceSize</key>
                <string>{158,4}</string>
                <key>textureRect</key>
                <string>{{1018,218},{158,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{895,380}</string>
                <key>spriteSourceSize</key>
                <string>{895,380}</string>
                <key>textureRect</key>
                <string>{{2,2},{895,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dec_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,362}</string>
                <key>spriteSourceSize</key>
                <string>{124,362}</string>
                <key>textureRect</key>
                <string>{{454,678},{124,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,315}</string>
                <key>spriteSourceSize</key>
                <string>{450,315}</string>
                <key>textureRect</key>
                <string>{{2,678},{450,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dec_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,88}</string>
                <key>spriteSourceSize</key>
                <string>{342,88}</string>
                <key>textureRect</key>
                <string>{{928,678},{342,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{512,604},{34,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{206,608},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{308,608},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{614,620},{34,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{410,608},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{676,494},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_golden_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{512,640},{34,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_golden_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{676,536},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_golden_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{676,578},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{778,606},{38,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{2,608},{42,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_shadow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{42,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{104,608},{42,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,342}</string>
                <key>spriteSourceSize</key>
                <string>{3,342}</string>
                <key>textureRect</key>
                <string>{{1013,2},{3,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_1x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{228,494},{112,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow_1x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,336}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{899,2},{112,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_2x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,112}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{2,494},{224,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_3x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{899,340},{336,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palace.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6126b656323eb60b6eeabafa2cbd6054:80a108e1c8de921bb30ddd2f37d728c3:ac69f2f8164f0737926b662127f05649$</string>
            <key>textureFileName</key>
            <string>palace.png</string>
        </dict>
    </dict>
</plist>
