<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x2_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{728,1183},{108,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1x2_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{848,959},{108,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{622,515},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{622,515},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{732,515},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{622,1073},{220,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{506,1183},{220,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{842,515},{332,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{622,849},{332,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,12}</string>
                <key>spriteSourceSize</key>
                <string>{218,12}</string>
                <key>textureRect</key>
                <string>{{952,487},{218,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>T_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,4}</string>
                <key>spriteSourceSize</key>
                <string>{214,4}</string>
                <key>textureRect</key>
                <string>{{1006,2},{214,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ad_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,12}</string>
                <key>spriteSourceSize</key>
                <string>{158,12}</string>
                <key>textureRect</key>
                <string>{{966,487},{158,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ad_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,4}</string>
                <key>spriteSourceSize</key>
                <string>{158,4}</string>
                <key>textureRect</key>
                <string>{{1006,218},{158,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{980,487},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{914,445},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{506,1100},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{980,589},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{952,707},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{950,1181},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{506,1142},{34,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_golden_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{956,809},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{958,911},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{958,1013},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{914,401},{42,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_shadow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{868,401},{44,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,342}</string>
                <key>spriteSourceSize</key>
                <string>{3,342}</string>
                <key>textureRect</key>
                <string>{{2,1288},{3,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,408}</string>
                <key>spriteSourceSize</key>
                <string>{504,408}</string>
                <key>textureRect</key>
                <string>{{2,536},{504,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,340}</string>
                <key>spriteSourceSize</key>
                <string>{502,340}</string>
                <key>textureRect</key>
                <string>{{2,946},{502,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,397}</string>
                <key>spriteSourceSize</key>
                <string>{474,397}</string>
                <key>textureRect</key>
                <string>{{530,2},{474,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,532}</string>
                <key>spriteSourceSize</key>
                <string>{526,532}</string>
                <key>textureRect</key>
                <string>{{2,2},{526,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_1x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{508,874},{112,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_1x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,336}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{508,536},{112,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_2x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,112}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{622,959},{224,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_3x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{530,401},{336,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>rain.png</string>
            <key>size</key>
            <string>{1016,1293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9891d476f4f36b2c386f17a4c2f3d277:7e60bd8f6dce2c4bd9a589fd134bab72:baef629f7de0e08c0ea0dadb3f0a7c27$</string>
            <key>textureFileName</key>
            <string>rain.png</string>
        </dict>
    </dict>
</plist>
