<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn/buy_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1602,2},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn/buy_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1602,87},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn/selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1683,66},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn/unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1602,172},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/btn_coming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,26}</string>
                <key>spriteSourceSize</key>
                <string>{164,130}</string>
                <key>textureRect</key>
                <string>{{1644,257},{98,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/btn_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{164,130}</string>
                <key>textureRect</key>
                <string>{{1700,372},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/btn_price.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{164,130}</string>
                <key>textureRect</key>
                <string>{{1602,379},{90,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/btn_save.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,26}</string>
                <key>spriteSourceSize</key>
                <string>{164,130}</string>
                <key>textureRect</key>
                <string>{{1672,257},{98,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/btn_trial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{164,130}</string>
                <key>textureRect</key>
                <string>{{1706,400},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/btn_use.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{164,130}</string>
                <key>textureRect</key>
                <string>{{1734,400},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/btn_using.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{164,130}</string>
                <key>textureRect</key>
                <string>{{1602,257},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/coins_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,54}</string>
                <key>spriteSourceSize</key>
                <string>{43,54}</string>
                <key>textureRect</key>
                <string>{{1644,357},{43,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/dialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1640,402},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/free_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1700,290},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/remove_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1683,151},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{2,2},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{2,242},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{322,2},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{322,242},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{642,2},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{642,242},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{962,2},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{962,242},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{1282,2},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,238}</string>
                <key>spriteSourceSize</key>
                <string>{318,238}</string>
                <key>textureRect</key>
                <string>{{1282,242},{318,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/skin_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,69}</string>
                <key>spriteSourceSize</key>
                <string>{57,69}</string>
                <key>textureRect</key>
                <string>{{1700,231},{57,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_coins_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,62}</string>
                <key>textureRect</key>
                <string>{{1683,2},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1771,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa2ba6c08707f278e4673b60d40b934:c31af60e42e5cd22ffb63333c9641062:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
