<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x2_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{734,568},{108,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1x2_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{209,367},{108,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1x3_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{209,673},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1x3_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,332}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{319,673},{108,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{758,348},{220,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,108}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{734,458},{220,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3x1_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{429,673},{332,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3x1_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,108}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{539,673},{332,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>T_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,12}</string>
                <key>spriteSourceSize</key>
                <string>{218,12}</string>
                <key>textureRect</key>
                <string>{{2,348},{218,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,4}</string>
                <key>spriteSourceSize</key>
                <string>{214,4}</string>
                <key>textureRect</key>
                <string>{{1018,2},{214,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ad_water_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,12}</string>
                <key>spriteSourceSize</key>
                <string>{158,12}</string>
                <key>textureRect</key>
                <string>{{2,362},{158,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ad_water_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,4}</string>
                <key>spriteSourceSize</key>
                <string>{158,4}</string>
                <key>textureRect</key>
                <string>{{1018,218},{158,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{620,221},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{980,378},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{956,480},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{620,323},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{956,582},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{954,684},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{649,986},{34,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_golden_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{954,786},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_golden_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{954,888},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{431,367},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{656,378},{42,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_shadow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{566,221},{44,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,342}</string>
                <key>spriteSourceSize</key>
                <string>{3,342}</string>
                <key>textureRect</key>
                <string>{{162,362},{3,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow_1x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{112,224}</string>
                <key>textureRect</key>
                <string>{{620,425},{112,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_1x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,336}</string>
                <key>spriteSourceSize</key>
                <string>{112,336}</string>
                <key>textureRect</key>
                <string>{{506,335},{112,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_2x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,112}</string>
                <key>spriteSourceSize</key>
                <string>{224,112}</string>
                <key>textureRect</key>
                <string>{{340,221},{224,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_3x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{2,221},{336,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,359}</string>
                <key>spriteSourceSize</key>
                <string>{344,359}</string>
                <key>textureRect</key>
                <string>{{657,2},{344,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{653,217}</string>
                <key>spriteSourceSize</key>
                <string>{653,221}</string>
                <key>textureRect</key>
                <string>{{2,2},{653,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,303}</string>
                <key>spriteSourceSize</key>
                <string>{306,303}</string>
                <key>textureRect</key>
                <string>{{649,678},{306,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,205}</string>
                <key>spriteSourceSize</key>
                <string>{439,205}</string>
                <key>textureRect</key>
                <string>{{2,378},{439,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>winter.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41a4575f8995217ad4d92bfb816dad6:b14266dc014b2543486ab195d6c28d85:e5f19dccaccd4ac6c00b71c901d6d72e$</string>
            <key>textureFileName</key>
            <string>winter.png</string>
        </dict>
    </dict>
</plist>
